* {
	//border: 1px solid red !important;
}

* {
	font-family: 'Pacifico', cursive;
}

.marquee {
	border: 2px solid white !important;
	margin-top: 40px;
	margin-bottom: 40px;
}

.billboard {
	background-image: url(../images/makeup.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.other {
	background-color: #FFF2FF
}

.footer {
	height: 80px;
	width: 100%;
}

.img-responsive {
	width: 100%;
	margin:10px;
}

.phone {
	color: #7BC5EA;
}

.email {
	font-size: 20px;
}

.details {
	text-align: center;
}

.myName {
	text-align: center;
	color: #7BC5EA;
}

//.pictures {
	border: 2px solid #7BC5EA;
}

h1 {
	text-align: center;
	font-size: 70px;
	color: white;
	margin-top: 10px;
	margin-bottom: 30px;
}

h2 {
	font-size: 40px;
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 40px;
	color: white;
	margin-bottom: 20px;
}

p {
	//font-family: 'Merriweather Sans', sans-serif;
	font-size: 30px;
	font-style: italic;
	text-align: center;

}

a {
	font-size: 30px;
	color: #7BC5EA;
	text-decoration: none;
}

a:hover {
	color:#333;
	text-decoration: none;
}

ul li {
	margin-top: 30px;
	list-style-type: none;
	text-align: center;
}
